# Build output directory (compiled binary files)
build/

# macOS System Files
.DS_Store

# IDE & Language Server Caches
.vscode/
.idea/
.cache/
*.xcodeproj/
*.xcworkspace/

# Raw & Converted Audio Sample Libraries
SalamanderGrandPiano-master/
SalamanderGrandPianoWAVs/
PianoWavs/
Samples/
Upright Samples_unbearbeitet/
*.bin
