# Build output directory (compiled binary files)
build/

# macOS System Files
.DS_Store

# IDE & Editor folders
.vscode/
.idea/
*.xcodeproj/
*.xcworkspace/

# Raw Audio Sample Libraries
SalamanderGrandPiano-master/
Samples/
*.bin
